
        body { margin: 0; }
        #sidebar, #content { position: absolute; } 
        #sidebar, #content { overflow: auto; padding: 10px; }
        #header {
         height: 80px; /* Высота слоя */
         background: #04f741; border-bottom: 2px solid #0ebaee;
        }
        #header h1 { padding: 20px; margin: 0; }
        #sidebar { 
         width: 150px; background: #00f597; border-right: 1px solid #231F20;
         top: 82px; /* Расстояние от верхнего края */ 
         bottom: 0; /* Расстояние снизу  */
        }
        #content {
         top: 82px; /* Расстояние от верхнего края */
         left: 170px; /* Расстояние от левого края */ 
         bottom: 0; right: 0;
         background: #e3fc08;
        }
        table {
            width: 100%; /* Ширина таблицы */
            background: white; /* Цвет фона таблицы */
            color: white; /* Цвет текста */
            border-spacing: 1px; /* Расстояние между ячейками */
           }
           td, th {
            background: rgb(255, 0, 212); /* Цвет фона ячеек */
            padding: 5px; /* Поля вокруг текста */
           }